{% extends 'base/base.html' %}
{% load static %}
{% load jalali_extras %}
{% load jalali_tags %}

{% block title %}
  رزروهای من
{% endblock %}
{% block links %}
  <link rel="icon" href="{% static 'shops/icons/reservations.png' %}" type="image/ico/jpg" />
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h2 class="text-center mb-4">رزروهای من 💈</h2>

    {% if reservations %}
      <table class="table table-striped text-center align-middle">
        <thead class="table-dark">
          <tr>
            <th>آرایشگاه</th>
            <th>تاریخ</th>
            <th>ساعت</th>
            <th>زمان ثبت رزرو</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          {% for r in reservations %}
            <tr>
              <td>{{ r.schedule.shop.name }}</td>
              <td>{{ r.schedule.date|jalali }}</td>
              <td>{{ r.time_slot }}</td>
              <td>{{ r.created_at|to_jalali:'مورخ %Y/%m/%d  در ساعت %H:%M' }}</td>

              <td>
                <a href="{% url 'shops:delete_reservation_url' r.id %}" class="btn btn-danger btn-sm" onclick="return confirm('آیا مطمئن هستید که می‌خواهید این رزرو را حذف کنید؟')">❌ حذف</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center text-muted">هیچ رزروی ثبت نکردی 😅</p>
    {% endif %}
  </div>
{% endblock %}
